<%- include('partials/header.ejs') %>
    <h1>Comments</h1>
    <ul>
        <% for(let c of comments){ %>
            <li><%= c.comment %> - <b><%= c.username %></b></li>
        <% } %>
    </ul>
<%- include('partials/footer.ejs') %>